  <div id="headerwrap">
  	<div  id ="header">
	<header> 
			<%= link_to image_tag("rails.png", alt: "Rails" , :class=>"round"), 'http://rubyonrails.org/' %>

	</header>
	
</div>
</div>
<div id="navigationwrap">
        <div id="navigation">
          <nav class ="round">
			        <ul >
			          <li><%= link_to "Home",  '#' %></li>
			          <li><%= link_to "Help",   '#' %></li>
			          <li><%= link_to "Sign in", users_path %></li>
			        </ul>
		 </nav>

        </div>
 </div>
